<!DOCTYPE html>
<title>PRODUCT CARD</title>

<head>
    <meta charset="UTF-8">
    <title>PERFUME PRODUCT CARD</title>

</head>

<body>
    <div class="product-card">
        <div class="image-section">
            <span class="badge">NEW</span>
            <button class="heart"></button>

            <img src="https://cdn.shopify.com/s/files/1/0570/7389/3509/files/bvtomfum994_179293_ombre_leather_parfum.webp?v=1778516556"
                alt="TOM FORD OMBRE" class="main-img">
            <div class="thumbs">
                <img
                    src="https://cdn.shopify.com/s/files/1/0570/7389/3509/files/bvtomfum994_179293_ombre_leather_parfum.webp?v=1778516556">
                <img
                    src="https://cdn.shopify.com/s/files/1/0570/7389/3509/files/bvtomfum994_179293_ombre_leather_parfum.webp?v=1778516556">
                <img
                    src="https://cdn.shopify.com/s/files/1/0570/7389/3509/files/bvtomfum994_179293_ombre_leather_parfum.webp?v=1778516556">
            </div>
        </div>
        <div class="info-section">
            <div class="top-row">
                <div>
                    <h1>TOM FORD OMBRE</h1>
                    <p class="type">EAU DE PAFUM</p>
                </div>
                <p class="rating">⭐ 4.8 <span>(236)</span></p>
            </div>
            <p class="description">
                A capitivating blend of elegance and mystery. Tom Ford Ombre is designed for those who leave a lasting
                impression.
            </p>
            <div class="price">
                $9,512 <span>$5,707</span> <b>40% OFF</b>
            </div>

            <div class="notes">
                <div>
                    <h4>Top Notes</h4>
                    <p>Cardamom</p>
                </div>
                <div>
                    <h4>Middle Notes</h4>
                    <p>Leather and Jasmine Sambac</p>
                </div>
                <div>
                    <h4>Base Notes</h4>
                    <p>Amber, Musk, Vanilla</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>


</html>